.container-user-principal{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.container-user{
    border: 1px solid gray;
    width: 60%;
    height: auto;
}

.container-img-logo-account{
    width: 100%;
    display: flex;
    height: max-content;
    align-items: center;
    justify-content: center;
}.container-img-logo-account img{
    width: 20%;
}